* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view-poll-container {
  width: 40vw;
}

.card-header {
  font-size: 1.5rem;
}

.createPage-main-container {
  height: 92.1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #2E3192, #1BFFFF);
}

.viewPoll-container {
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewUser-footer {
  display: flex;
  justify-content: space-between;
}